body {
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
    /* font-family: 'Oswald', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Cabin', sans-serif; */
    color: white;
}

.header {
    color: black;
    width: 100%;
}

.nav {
    text-decoration: none;
    padding: 0;
    margin: 0;
    min-height: 50px;
    overflow: hidden;
    background-color: #5e717b;
    align-items: center;
    z-index:100;
    font-family: 'Julius Sans One', sans-serif;
}

.nav a{
    float: left;
    text-decoration: none;
    color: white;
}

.nav_right {
    margin-right: 100px;
    float: right;
}

.nav a:visited {
    text-decoration: none;
    color: white;
}

.nav_menu {
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.nav_menu:hover {
    background-color: #7a8991;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.4;
    transition: opacity 1s ease-in-out;
  }

  .sticky:hover {
      opacity: 1;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.leftbar {
    width: 18%;
}

.content {
    color: black;
    width: 64%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff;
}

.rightbar {
    margin-right: 0;
    width: 18%;
}

.woonkamer {
    border: 0;
    float: left;
    position: relative;
    display: flex; 
    align-items: center;
}
 
  .canvas {
    border: 0;
    position: absolute;
    top: 3%;
    width: 27%;
    left: 50%;
    transform: translate(-50%);
    filter: grayscale(25%) contrast(90%) drop-shadow(-8px 8px 10px #525050);
   } 

.actie {
    margin-top: 20px;
    width: 100%;
}

.actie_sale {
    position: relative;
    width: 20%;
    background-color: #5e717b;
    float: left;
  }

  .actie_sale:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
  .sale {
	position: absolute;
    top: 50%;   
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    letter-spacing: 3px;
}

.actie_tekst {
    width: 70%;
    float: right;
    text-align: center;
}

h2 {
    font-size: 32px;
}

.informatie {
    width: 100%;
}

.footer {
    margin-top: 3%;
    background-color: #5e717b;
    height: 80px;
    align-content: center;
    align-items: center;
}

.footer img {
    float: right;
    height: 80px;
    width: 80px;
}

.end {
    height: 80px;
}