body {
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
    color: white;
}

.header {
    color: black;
}

.nav {
    text-decoration: none;
    padding: 0;
    margin: 0;
    min-height: 50px;
    overflow: hidden;
    background-color: #5e717b;
    align-items: center;
    z-index:100;
}

.nav a{
    float: left;
    text-decoration: none;
    color: white;
}

.nav_right {
    margin-right: 100px;
    float: right;
}

.nav a:visited {
    text-decoration: none;
    color: white;
}

.nav_menu {
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.nav_menu:hover {
    background-color: #7a8991;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.4;
    transition: opacity 1s ease-in-out;
  }

  .sticky:hover {
      opacity: 1;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.leftbar {
    width: 18%;
    /* background-color: #dfd3d3; */
}

.content {
    color: black;
    width: 64%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff;
}

h2 {
    font-size: 32px;
}

.informatie {
    width: 100%;
}

.footer {
    background-color: #5e717b;
    height: 80px;
    width: 100%;
    align-content: center;
    align-items: center;
}

.footer img {
    float: right;
    height: 80px;
    width: 80px;
}

.end {
    height: 80px;
}